/**
 * ROFI Color theme
 * User: Wangz
*/

@import "dmenu"

* {
    font: "IBM Plex Mono 14";
    background-color: #00000000;
    text-color: @xfg;
}

#horibox {
    children: [prompt, entry];
}

#entry {
    background-color: @transparent;
    expand:true;
}
